[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
textblob = "*"
spacy = "*"
neattext = "*"
matplotlib = "*"
wordcloud = "*"
deep-translator = "*"
polyglot = "*"
pycld2 = "*"
icu = "*"
pyicu = "==2.14"

[dev-packages]

[requires]
python_version = "3.12"
